body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}


#wrapper1 {
    height: 100%;
    display: grid;
    grid: 65px 40px 1fr/ 1fr;

}

header img {
    width: 100px;
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    background-color:slategray;
    width: 100%;
    height: 100px;
    z-index: 1;
}

section {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color:whitesmoke;
    width: 100%;
    height: 40px;
    z-index: 1;
}

main { 
    background-color: lightgray;
    overflow-y: scroll;
    grid-row: 1/4;
    grid-column: 1/2;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.movies {
    margin: 15px;
    background-color: cadetblue;
    height: 373px;
    width: 225px;
    border-radius: 3px;
}

.movies img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.movies img {
    width: 225px;
    height: 323px;
}

nav {
    display: flex;
    position: sticky;
    justify-content: center;
width: 100%;
}

nav input[type=text] {
    width: 500px;
    height: 25px;
    border-radius: 15px;
    padding: 6px;
    border: 1px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: darkorchid;
}

.hover{
    position: absolute;
    width: 100%;
    height: 100px;
    opacity: 1;

}
.outside{
    width: 500px;
    height: 25px;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}
.Search{
    width: 500px;
    height: 25px;
    border-radius: 15px;
    padding: 6px;
    border: 1px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    /* position: fixed; */
   
    transition: top 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    
}
.outside.show{
    left: 0;
}
.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}
