body{
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}


#wrapper1{
    height: 100%;
    display: grid;
    grid: 65px 40px 1fr/ 1fr ;
}

header{
    grid-column: 1/2;
 grid-row: 1/2;
   background-color: aquamarine;
   height: 100%;
}
section{
    grid-column:1/2;
    grid-row: 2/3;
    background-color: bisque;
    height: 100%;
}
main{
    padding: 15px;
    overflow-y: scroll;
    grid-row: 3/4;
grid-column: 1/2;
background-color: blueviolet;
height: 100%;
display: flex;
gap: 15px;
flex-wrap: wrap;
justify-content: space-around;
}
.movies{
    background-color: cadetblue;
    height: 373px;
    width: 225px;
}

.movies img{
    width: 225px;
    height: 323px;
}
nav input[type=text] {
    width: 500px;
    border-radius: 15px;
    padding: 6px;
    border: 1px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  footer{
    width: 100%;
    height: 200px;
    background-color: darkorchid;
  }